<html>
	<head>
	<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
		<title>Kalp Tahmin Testi</title>
	</head>
	<body>
	<!-- Java Script -->	
		<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

		
		<!-- Navbar-->
		<nav class="navbar navbar-dark bg-dark">
			<span class="navbar-brand mb-0 h1">Kalp Tahmin Testi</span>
		</nav>
		<div class="container">
			<br>
			<!--Form-->
			<form action = "{{url_for('predict')}}" method ="POST" >
				<fieldset>
				<legend>Kalp Tahmini Test Formu</legend><br>
				  <div class="card card-body" >
					  <div class="form-group  row">
						<div class="col-sm-3">
							<label for="age">Yaş</label>
							<input type="number" class="form-control" id="age" name="age" required>
						</div>
						<div class="col-sm-3">
							<label for="sex">Cinsiyet</label>
							<select class="form-control" id="sex"  name="sex" required>
							  <option disabled selected value> -- Bir Seçeneği Seçiniz -- </option>
							  <option value = "0">ERKEK</option>
							  <option value = "1">KADIN</option>
							</select>
					   </div>
					  </div>
					  <br>
					  <div class="form-group  row">
						  <div class="col-sm">
							<label for="cp">Göğüs Ağrısı Tipi</label>
							<select class="form-control" id="cp" name = "cp" required>
							  <option disabled selected value> -- Bir Seçeneği Seçiniz -- </option>
							  <option value = "0">Tipik Angina</option>
							  <option value = "1">Atipik Angina</option>
							  <option value = "2">Anginal Olmayan Ağrı</option>
							  <option value = "3">Asemptomatik</option>
							</select>
						  </div>
						  <div class="col-sm">
							<label for="trestbps">Dinlenme Kan Basıncı mm Hg</label>
							<input type="number" class="form-control" id="trestbps" name="trestbps"  required>
						  </div>
						  <div class="col-sm">
							<label for="chol">mg/dl Cinsinden Serum Kolestrol</label>
							<input type="number" class="form-control" id="chol" name="chol" required>
						  </div>
						  <div class="col-sm">
							<label for="fbs">Açlık Kan Şekeri > 120 mg/dl</label>
							<select class="form-control" id="fbs" name="fbs" required>
							  <option disabled selected value> -- Bir Seçeneği Seçiniz -- </option>
							  <option value = "0">Hayır</option>
							  <option value = "1">Evet</option>
							</select>
						</div>
					  </div>
					  
					  <br>
					  <div class="form-group row">
							<div class="col-sm">
								<label for="restecg">Dinlenme EKG Sonuçları </label>
								<select class="form-control" id="restecg" name="restecg" required>
								  <option disabled selected value> -- Bir Seçeneği Seçiniz -- </option>
								  <option value = "0">Normal</option>
								  <option value = "1">ST-T dalgası anormalliğine sahip olmak  </option>
								  <option value = "2">Muhtemel veya kesin sol ventrikül hipertrofisi  </option>
								</select>
							  </div>
							  <div class="col-sm">
								<label for="thalach">Maksimum Kalp Atış Hızı</label>
								<input type="number" class="form-control" id="thalach" name="thalach" required>
							  </div>
							  <div class="col-sm">
								<label for="exang">ST Depresyon Uyarılması</label>
								<input type="number" step="any" class="form-control" id="exang" name="exang" required>
							  </div>
							  <div class="col-sm">
								<label for="exang">Egzersize Bağlı Angina </label>
								<select class="form-control" id="oldpeak" name="oldpeak" required>
								  <option disabled selected value> -- Bir Seçeneği Seçiniz -- </option>
								  <option value = "0">Hayır</option>
								  <option value = "1">Evet</option>
								</select>
							  </div>
						  </div>
						  <br>
						  <div class="form-group  row">
						  <div class="col-sm">
							<label for="slope">Tepe Egzersizinin Eğimi ST Segmenti </label>
							<select class="form-control" id="slope" name="slope" required>
							  <option disabled selected value> -- Bir Seçeneği Seçiniz -- </option>
							  <option value = "0">Yukarı eğimli</option>
							  <option value = "1">Düz</option>
							  <option value = "2">Aşağı eğimli</option>
							</select>
						  </div>
						  <div class="col-sm">
							<label for="ca"Flourosopy ile Renklendirilen Kap Sayısı</label>
							<select class="form-control" id="ca" name = "ca" required>
							  <option disabled selected value> -- Bir Seçeneği Seçiniz -- </option>
							  <option value = "0">0</option>
							  <option value = "1">1</option>
							  <option value = "2">2</option>
							  <option value = "3">3</option>
							</select>
						  </div>
						  <div class="col-sm">
							<label for="thal">Talasemi</label>
							<select class="form-control" id="thal" name = "thal" required>
							  <option disabled selected value> -- Bir Seçeneği Seçiniz -- </option>
							  <option value = "3">Normal</option>
							  <option value = "6">Sabit kusur</option>
							  <option value = "7">Tersinir kusur</option>
							</select>
						  </div>
					  </div>
					  <br>
					  <div class="form-group">
						<input class="btn btn-primary" type="submit" value="Sonuç">
					  </div>
					  
					  <!--Prediction Result-->
					  <div id ="result">
							<strong style="color:red">{{result}}</strong>
					 </div>
				     </div>
			 </fieldset>
			</form>
			
		</div>
		
	</body>
</html>

